body{
  background: url("http://eskipaper.com/images/pier-sunset-background-1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
	background-color: white;
}

#wholediv {
	overflow-y:scroll;	
	width: 100vw;
}

.searchdiv {
	width: 48vw;
	height: 40vh;
	opacity: 0.8;
	border-radius: 15px;
	margin: 1%;
	float: left;
	text-align: center;
	vertical-align: middle;
    font: 200 20px/2 bold Helvetica, Verdana, sans-serif;
	background-color: white;
    color: #1D3E0C;
}

.nodiv {
	width: 100vw;
	text-align: center;
	vertical-align: middle;
	font: 200 20px/2 bold Helvetica, Verdana, sans-serif;
}